<template>
  <div id="app">
    <main-nav />
    <main class="pch-content">
      <router-view />
    </main>
  </div>
</template>

<script>
import MainNav from './components/MainNav';

export default {
  components: {
    MainNav
  }
}
</script>

<style lang="scss">
#app {
  display: contents;
}
</style>
