@use '../01-settings/tokens.scss' as *;

.pch-button {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .2ch;
  cursor: pointer;

  &-primary, &-secondary {
    border-radius: $spacing-2;
    padding: $spacing-3 $spacing-4 calc(.5rem - 2px);
    border-width: 2px;
    border-style: solid;
  }

  &-primary {
    background-color: $color-background-component-base-default;
    border-color: $color-background-component-base-default;
    color: $color-text-component-base-default;
    
    &:hover {
      background-color: $color-background-component-base-hover;
    }

    &.pch-button-destruction {
      border-color: $color-background-component-destruction-default;
      background-color: $color-background-component-destruction-default;
    }
  }

  &-secondary {
    background-color: transparent;
    border-color: $color-border-primary-default;
    color: $color-text-base-default;
  
    &.pch-button-destruction {
      border-color: $color-border-destruction-default;
    }
  }

  &-text {
    background: transparent;
    border: 0;
    color: $color-text-base-subtle;
    padding: 0;

    &.pch-button-destruction {
      &:hover {
        color: $color-text-accent-destruction-default;
      }
    }
  }
}
