<template>
  <div>
    <runtime-template-compiler v-for="(doc, docIndex) of docs.docsBlocks" :key="docIndex" v-on="$listeners" :template="`<section class='pch-paragraph_wrapper'>${doc}</section>`"/>
  </div>
</template>

<script>
  import { RuntimeTemplateCompiler } from "vue-runtime-template-compiler"
  export default {
    components: {
      RuntimeTemplateCompiler
    },
    props: {
      docs: {
        type: Object
      }
    },
    data () {
      return {
        vModelString: "Fake text",
        vModelBoolean: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  ::v-deep pre {
    background-color: var(--color-background-feature);
    padding: 1ch;
    white-space: pre-wrap;

    code {
      color: var(--color-text-base-default);
    }
  }
</style>
