<template>
  <section class="pch-mainNav">
    <img class="pch-mainNav_logo" src="/img/mythic_logo.svg" />
  </section>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>

</style>
