@use '../01-settings/tokens';

$areas: "padding", "margin";

@mixin around($area, $val, $size) {
    .pch-#{$area}-around-#{$val} {
    #{$area}-inline: $size;
    #{$area}-block: $size;
    }
}

@mixin sides($area, $val, $size) {
    .pch-#{$area}-sides-#{$val} {
    #{$area}-inline: $size;
    }
}

@mixin ends($area, $val, $size) {
    .pch-#{$area}-ends-#{$val} {
    #{$area}-block: $size;
    }
}

@mixin top($area, $val, $size) {
    .pch-#{$area}-top-#{$val} {
    #{$area}-block-start: $size;
    }
}

@mixin right($area, $val, $size) {
    .pch-#{$area}-right-#{$val} {
    #{$area}-inline-end: $size;
    }
}

@mixin bottom($area, $val, $size) {
    .pch-#{$area}-bottom-#{$val} {
    #{$area}-block-end: $size;
    }
}

@mixin left($area, $val, $size) {
    .pch-#{$area}-left-#{$val} {
    #{$area}-inline-start: $size;
    }
}

$spacing: (
    0: tokens.$spacing-0,
    1: tokens.$spacing-1,
    2: tokens.$spacing-2,
    3: tokens.$spacing-3,
    4: tokens.$spacing-4,
    5: tokens.$spacing-5,
    6: tokens.$spacing-6
);

@each $val, $size in $spacing {
  @each $area in $areas {
    @include around($area, $val, $size);
    @include sides($area, $val, $size);
    @include ends($area, $val, $size);
    @include top($area, $val, $size);
    @include right($area, $val, $size);
    @include bottom($area, $val, $size);
    @include left($area, $val, $size);
  }
}