@use '../01-settings/tokens.scss' as *;

.pch-paragraph_wrapper {
  width: 60ch;
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
  }

  h3 {
    color: $color-text-base-subtle;
  }

  p:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
