@use '../01-settings/tokens.scss' as *;

body {
  font-family: 'Alegreya Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  background-color: $color-background-base;
  color: $color-text-base-default;

  min-height: 100vh;
  display: grid;
  grid-template-columns: 30ch 1fr;
}
