<template>
  <button
    class="pch-button"
    :class="[
      { 'pch-button-primary' : variant === 'primary' },
      { 'pch-button-secondary' : variant === 'secondary' },
      { 'pch-button-text' : variant === 'text' },
      { 'pch-button-creation' : intent === 'creation' },
      { 'pch-button-cta' : intent === 'cta' },
      { 'pch-button-destruction' : intent === 'destruction' },
      { 'pch-button-small' : size === 'small' },
      { 'pch-button-large' : size === 'large' }
    ]">
    <!--
      @slot Text inside the button
     -->
    <slot />
  </button>
</template>

<script>
  export default {
    name: "PchButton",
    props: {
      /**
       * The type of button shown. Primary has a solid background, secondary has a border, and text has neither.
       * @values primary, secondary, text
       */
      variant: {
        type: String,
        default: 'secondary',
        validator: (val) => {
          return ['primary', 'secondary', 'text'].indexOf(val) != -1;
        }
      },
      /**
       * The purpose of this button.
       */
      intent: {
        type: String,
        validator: (val) => {
          return ['creation', 'destruction', 'cta'].indexOf(val) != -1;
        }
      },
      /**
       * Use sparingly. The normal size is often the correct one.
       */
      size: {
        type: String,
        validator: (val) => {
          return ['small', 'large'].indexOf(val) != -1;
        }
      }
    }
  }
</script>

<docs>
```jsx
<pch-button variant="primary" intent="cta">
  Click me
</pch-button>
```

```jsx
<pch-button class="pch-margin-right-4" variant="primary" intent="destruction">
  Test
</pch-button>
<pch-button class="pch-margin-right-4" intent="destruction">
  Test
</pch-button>
<pch-button variant="text" intent="destruction">
  Test
</pch-button>
```
## Variant
### Primary
In a given set of buttons, there should only be one Primary button for the action we assume the user is going to do next. For example, in a prompt asking them to confirm their deletion, "Delete" would be primary.

### Secondary
Most buttons are secondary buttons.

### Text
Use this to really de-emphasize a selection: if we think a user won't choose this, has little reason to, or we hope they won't choose to. It presents itself much like a link.

## Intent
Set to `creation` if this leads to creating something, or `destruction` if clicking this will delete something. For example, "Create New Campaign" would be a secondary create button, whereas the "Save" button would be a primary create button. The "Delete" button on a campaign would be a text delete button, but the Delete button on the confirmation prompt would be a primary delete button. `cta` is Call to Action. The thing we *hope* the user will do.

## Size
Set to `small` if the button needs to be small (rare), or `large` if the button needs to be large (rarer).
</docs>
