<template>
  <label>
    <div class="pch-input__label">
      <!-- @slot Label for input -->
      <slot name="label" />
    </div>
    <input class="pch-input" id="uid" :value="value" @input="$emit('input', $event.target.value)">
  </label>
</template>

<script>
  export default {
    name: "PchInput",
    props: {
      /**
       * @model
       * @see test
       * @foo asdfasdf
       */
      value: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        uid: this._uid
      }
    }
  }
</script>

<!-- Docs in Input.md because of named slot -->
